.wrapper {
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.nav__Wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 1.8rem;
}

.logo__Wrap {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
    justify-content: center;
}

.back_ {
    outline: none;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.logo {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
}

.live_event_wrap {
    display: flex;
    overflow: hidden; 
}

.participants__Wrap {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    overflow-y: auto; 
    max-height: 100vh; 
}

.participants__Wrap video {
    width: 100%;
    height: 15rem;
    max-width: 100%;
    object-fit: cover;
    border: 5px solid black;
}

.user__Video__Item {
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
}

.view__Participant__Details {
    border: 1px solid #005734;
    padding: 0.45rem 1rem;
    border-radius: 8px;
    font-size: 0.8rem;
    background: none;
    cursor: pointer;
}

.monitor__Wrap {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.video__Section {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: 60%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 100%;
    padding: 1.5rem;
}

.info__Section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 40%;
}

.info__Section .info {
    font-size: 0.95rem;
}

.single__User__Vid {
    width: 300px;
    height: 300px;
    margin-right: auto;
    display: block;
}

.proctor__chat {
    border: 1px solid black;
    background-color: #f7f7f7; 
    width: 350px;
    max-width: 400px;
    padding: 1rem;
    height: 75vh; 
    overflow-y: auto; 
    position: fixed; 
    top: 15%;
    right: 3%;
    margin-left: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
    z-index: 999;
}

.chat__heading {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 1rem;
    width: 100%;
    border-bottom: 1px solid #ccc;
}

.chat__main {
    overflow-y: auto;
    max-height: 60vh;
    flex: 1;
}

.chat__message {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 2px;
    background-color: #e0e0e0;
    display: flex;
    flex-direction: column;
}

.message_{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.username_{
    font-size: 0.8rem;
}

.username_date{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.username__{
    font-size: 0.6rem;
}

.main_msg_content{
    width: 100%;
}

.chat__message strong {
    font-weight: 600;
    margin-right: 0.5rem;
}

.chat__input {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat__input input {
    width: 95%;
    padding: 0.5rem;
    border: none; 
    border-radius: 4px;
    outline: none; 
    box-shadow: 0 -2px 6px rgba(0.1, 0.1, 0.3, 0.1); 
}

.avatarContainer {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #007bff; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff; 
}

.messageContent {
    display: inline-block;
    vertical-align: top;
}

.chat_message {
    display: flex;
    margin-bottom: 10px;
    align-items: flex-start;
    justify-content:flex-start;
}

.chat_messageRight .chat__message {
    background-color: #d4f0d4;
}

.chat__icon {
    font-size: 35px;
    margin-right: 1%;
    cursor: pointer;
}

.chat__bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.messageTime {
    font-size: 0.8em;
    color: #666;
    margin-left: 0.5rem;
}

/* Responsive styles for .proctor__chat */
@media screen and (max-width: 768px) {
    .logo__Wrap h3 {
        display: none;
    }

    .proctor__chat {
        width: 100%;
        max-width: none;
        height: 80vh;
        margin-left: 0;
        box-shadow: none;
        padding: 0.5rem;
        margin-top: 10px;
        width: 85%;
    }

    .chat__heading {
        font-size: 25px;
        margin-bottom: 0.5rem;
    }

    .chat__main {
        max-height: 65vh;
    }
    .chat__input input {
        width: 90%;
        padding: 0.4rem;
    }

    .monitor__Wrap {
        flex-direction: column;
    }

    .info__Section,
    .video__Section {
        width: 100%;
    }

    .video__Section {
        padding: 1rem;
    }

    .single__User__Vid {
        width: 100%;
        margin-right: 0;
        height: 100%;
    }
}

@media screen and (max-width: 480px) {
    .proctor__chat {
        height: 78vh;
    }

    .chat__heading {
        font-size: 16px;
        margin-bottom: 0.3rem;
    }

    .chat__main {
        max-height: 67vh;
    }

    .chat__input input {
        width: 85%;
        padding: 0.3rem;
    }
}
